.Direction {
    margin-left: 10px;
}

.location-details-form {
    width: 25%;
    height: 100%;
}

.error-container {
  margin-top: 30px;
  color: red;
  font-size: 16px;
  font-weight: 500;
}

.map-container > .map {
        margin: 10px;
        top: 0%;
        left: 25%;
        position: absolute;
        width: 70%;
        height: 90%;
}