.location-details-form input {
    width: 90%;
    padding: 8px;
    border: 1px solid black;
}

.location-details-form p {
    font-size: 16px;
    font-weight: 500;
}

.form-buttons button {
    padding: 10px;
    font-size: 16px;
    margin-top: 50px;
    cursor: pointer;
    border: none;
    transition: background 300ms;
    background-color:  rgba(190,224,255, .6);
    border-radius: 3px;
}

.form-buttons button:disabled {
    cursor: default;
    background-color: #f4f4f4;
    transition: background 300ms;
}

.route-details {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
}